
.ceg
{
	height: 65px;
	margin-top: 5%;
	margin-left: 5%;
	width: 220px;
}
.unesco
{ 
	

    height: 105px;
    width: 270px;
    margin-left: 13%;
}
.header
{
	color: rgb(173, 10, 10);
}
.description
{
	font-size: larger;
}